<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tyut.selab.vote.mapper.ICommitVoteMapper">
    <parameterMap id="VoteResult" type="tyut.selab.schedule.domain.po.Schedule">
        <parameter property="id" javaType="Long"/>
        <parameter property="voteOptionId" javaType="Long"/>
        <parameter property="userId" javaType="String"/>
        <parameter property="content" javaType="String"/>
        <parameter property="isEnable" javaType="boolean"/>
        <parameter property="weight"    javaType="Integer"/>
        <parameter property="create_time" javaType="Date"/>
        <parameter property="update_time" javaType="Date"/>
    </parameterMap>

    <insert id="commitVote" parameterType="VoteResult"  useGeneratedKeys="true" keyProperty="id">
        insert into selab_vote_result(
        vote_option_id, user_id, content, isEnable, weight
        )value
        <foreach collection="list" item="a" separator=",">
            (
            #{a.voteOptionId},
            #{a.userId},
            #{a.content},
            #{a.isEnable},
            #{a.weight}
            )
        </foreach>
    </insert>

</mapper>