<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tyut.selab.vote.mapper.RemoveWasteVoteMapper">
<!--    long getWasteVote();-->
    <select id="getWasteVote" resultType="java.lang.Long">
        select id from selab_vote_info where status = #{status};
    </select>

<!--    List<Long> getWasteVoteOptions(List<Long> voteInfos);-->
    <select id="getWasteVoteOptions" resultType="java.lang.Long">
        select id from selab_vote_option where vote_id in
        <foreach collection="list" item="op" open="(" separator="," close=")">
            #{op}
        </foreach>
    </select>

<!--    void deleteVoteInfoById(List<Long> wasteVoteId);-->
    <delete id="deleteVoteInfoById">
        delete from selab_vote_info where id in
        (<foreach collection="list" item="o" separator=",">
        #{o}
    </foreach>)
    </delete>

<!--    void deleteVoteOptionsById(List<Long> wasteVoteId);-->
    <delete id="deleteVoteOptionsById">
        delete from selab_vote_option where vote_id in
        (<foreach collection="list" item="o" separator=",">
        #{o}
    </foreach>)
    </delete>
<!--    void deleteVoteResultById(List<Long> wasteVoteId);-->
    <delete id="deleteVoteResultById">
        delete from selab_vote_result where vote_id in
        (<foreach collection="list" item="o" separator=",">
        #{o}
    </foreach>)
    </delete>
</mapper>