<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tyut.selab.vote.mapper.ReportVoteMapper">

    <resultMap id="VoteReport" type="tyut.selab.vote.domain.po.VoteReport">
        <id property="reportId" column="report_id"/>
        <result property="user_id" column="report_user_id"/>
        <result property="voteId" column="vote_id"/>
        <result property="description" column="description"/>
    </resultMap>

    <insert id="submitReportVote">
        insert into selab_vote_report
        values (null,#{voteReport.user_id},#{voteReport.voteId},#{voteReport.description})
    </insert>

    <select id="viewReportVote" resultMap="VoteReport">
        select * from selab_vote_report
        where vote_id = #{voteId}
    </select>

    <select id="queryReportCount" resultType="int">
        select count(*) from selab_vote_report
        where vote_id = #{voteId}
    </select>

    <delete id="clearReportCount">
        delete from selab_vote_report
        where vote_id = #{voteId}
    </delete>

</mapper>
