<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tyut.selab.vote.mapper.VoteResultMapper">

    <resultMap id="VoteResultMap" type="tyut.selab.vote.domain.po.VoteResult">
        <id property="id" column="id" />
        <result property="voteId" column="vote_id" />
        <result property="voteOptionId" column="vote_option_id" />
        <result property="userId" column="user_id"/>
        <result property="content" column="content" />
        <result property="isAnonymous" column="is_anonymous" />
        <result property="createTime" column="create_time" />
        <result property="weight" column="weight"/>
    </resultMap>
    <resultMap id="voteOpinionContent" type="tyut.selab.vote.domain.po.VoteOpinionContent">
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="isAnonymous" column="is_anonymous"/>
    </resultMap>
    <insert id="insertVoteResult" parameterType="tyut.selab.vote.domain.po.VoteResult" keyProperty="id">
        INSERT INTO selab_vote_result(
            vote_id,vote_option_id,user_id,content,is_anonymous,create_time,weight
        )value
            <foreach collection="voteResults" item="voteResult" separator=",">
                (#{voteResult.voteId},#{voteResult.voteOptionId},#{voteResult.userId},#{voteResult.content},#{voteResult.isAnonymous},#{voteResult.createTime},#{voteResult.weight})
            </foreach>
    </insert>
    <select id="getVoteResultByOptionIdAndVoteId" resultMap="VoteResultMap">
        SELECT id,vote_id,vote_option_id,user_id,content,is_anonymous,create_time,weight
        FROM selab_vote_result
        <where>
        <if test="true">
           AND vote_id = #{voteId}
        </if>
        <if test="optionId != null">
           AND vote_option_id = #{optionId}
        </if>
        <if test="userId != null">
           AND user_id = #{userId}
        </if>
        </where>
    </select>
    <select id="getVoteReaultCount" resultType="int">
        SELECT SUM(weight) as weights FROM selab_vote_result
        <where>
            <if test="true">
               AND vote_id = #{voteId}
            </if>
            <if test="optionId != null">
              AND  vote_option_id = #{optionId}
            </if>
        </where>
    </select>
    <select id="getUserNameByOptionId" resultType="String">
        SELECT u.nick_name FROM selab_vote_result r
        LEFT JOIN sys_user u ON  u.user_id = r.user_id
        WHERE vote_option_id = #{optionId} AND is_anonymous = '0'
    </select>
    <select id="getNickName" resultType="String">
        SELECT nick_name FROM sys_user
        <where>
            <foreach collection="userIds" item="userId" separator="OR">
                user_id = #{userId}
            </foreach>
        </where>
    </select>
    <select id="getParseUserId" resultType="String">
        SELECT user_id FROM selab_vote_result
        WHERE vote_id = #{voteId} AND vote_option_id = #{optionId} AND is_anonymous = '0'
    </select>
    <select id="getOptionContent" resultMap="voteOpinionContent">
        SELECT user_id,content,is_anonymous
        FROM selab_vote_result WHERE vote_id = #{voteId} AND vote_option_id = #{optionId}
    </select>

</mapper>
