<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tyut.selab.vote.mapper.VoteWeightMapper">

    <resultMap id="voteWeight" type="tyut.selab.vote.domain.po.VoteWeight">
        <result property="voteId" column="vote_id"/>
        <result property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="weight" column="weight"/>
    </resultMap>

    <insert id="saveVoteWeightInformation">
        insert into selab_vote_weight
        values
        <foreach collection="voteWeightList" separator="," item="voteWeight">
            (#{voteWeight.voteId},#{voteWeight.roleId},#{voteWeight.weight})
        </foreach>
    </insert>
    <select id="listVoteWeightByVoteId" resultMap="voteWeight">
        SELECT vote_id,w.role_id,role_name,w.weight
        FROM selab_vote_weight w JOIN sys_role r ON w.role_id = r.role_id where vote_id = #{voteId}
    </select>
    <select id="getWeightByRoleId" resultType="int">
        SELECT weight FROM selab_vote_weight WHERE vote_id = #{voteId} AND role_id = #{roleId}
    </select>
</mapper>
