<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tyut.selab.vote.mapper.VoteInfoMapper">
    <resultMap id="voteInfo" type="tyut.selab.vote.domain.po.VoteInfo">
        <result property="status" column="status" typeHandler="tyut.selab.vote.config.jdbc.handler.VoteStatusHandler"/>
    </resultMap>
    <select id="queryVoteDeadTime" resultType="java.util.Date">
        select dead_time from selab_vote_info
        where vote_id = #{voteId}
    </select>

    <update id="updateVoteStatus">
        update selab_vote_info
        set status = #{status,typeHandler=tyut.selab.vote.config.jdbc.handler.VoteStatusHandler}
        where vote_id = #{voteId}
    </update>

    <insert id="saveVoteInformation">
        insert into selab_vote_info
        values (null,
                #{voteInfoLaunchDTO.userId},
                #{voteInfoLaunchDTO.title},
                #{voteInfoLaunchDTO.content},
                #{voteInfoLaunchDTO.voteType,typeHandler=tyut.selab.vote.config.jdbc.handler.VoteTypeHandler},
                #{voteInfoLaunchDTO.status,typeHandler=tyut.selab.vote.config.jdbc.handler.VoteStatusHandler},
                #{voteInfoLaunchDTO.deadTime},
                #{voteInfoLaunchDTO.createTime},
                #{voteInfoLaunchDTO.isRealTime},
                #{voteInfoLaunchDTO.optionNum},
                #{voteInfoLaunchDTO.delFlag})
    </insert>

    <insert id="saveVoteOptionInformation">
        insert into selab_vote_option
        values
        <foreach collection="voteOptionList" separator="," item="voteOption">
            (null,#{voteOption.voteId},#{voteOption.optionType,typeHandler=tyut.selab.vote.config.jdbc.handler.VoteOptionTypeHandler},#{voteOption.content})
        </foreach>
    </insert>

    <insert id="saveVoteWeightInformation">
        insert into selab_vote_weight
        values
        <foreach collection="voteWeightList" separator="," item="voteWeight">
            (#{voteWeight.voteId},#{voteWeight.roleId},#{voteWeight.weight})
        </foreach>
    </insert>

    <select id="getVoteStatus" resultMap="voteInfo">
        SELECT status FROM selab_vote_info WHERE vote_id = #{voteId}
    </select>
</mapper>
