<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tyut.selab.vote.mapper.WeightMapper">
    <resultMap id="Weight" type="tyut.selab.vote.domain.po.Weight">
        <result property="weightId" column="weight_id"/>
        <result property="roleId" column="role_id"/>
        <result property="weight" column="weight"/>
    </resultMap>
<!--    long getLastUseWeightId();-->
    <select id="getLastUseWeightId" resultType="java.lang.Long">
        select weight_id from selab_vote_last_use where id = 1;
    </select>

<!--    void initLastUse();-->
    <insert id="initLastUse" >
        insert into selab_vote_last_use (weight_id,id) value (1,1);
    </insert>

<!--    void writeWeight(List<Weight> weights);-->
    <insert id="writeWeight">
        insert into selab_vote_weight (weight_id,role_id,weight)
            value
        <foreach collection="list" item="v" separator=",">
            (#{v.weightId},#{v.roleId},#{v.weight})
        </foreach>;
    </insert>

<!--    List<Weight> getWeightList(Long weightId);-->
    <select id="getWeightList" resultMap="Weight">
        select * from selab_vote_weight where weight_id = #{weightId};
    </select>

<!--    Long getMaxWeightId();-->
    <select id="getMaxWeightId" resultType="java.lang.Long">
        select weight_id from selab_vote_weight order by weight_id desc limit 1
    </select>

<!--    void modifyLastUse();-->
    <update id="modifyLastUse">
        update selab_vote_last_use set weight_id = #{weightId} where id = 1
    </update>
</mapper>