<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tyut.selab.attendance.mapper.GenerateLogMapper">
    <!--  public void deleteThisWeekLog();-->
    <delete id="deleteThisWeekLog">
        delete from selab_attendance_log;
    </delete>

    <!--  public void deleteThisWeekLogStatistics();-->
    <delete id="deleteThisWeekLogStatistics">
        delete from selab_attendance_log_statistics;
    </delete>

    <!--  public void deleteInvalidData();-->
    <delete id="deleteInvalidData">
        delete from selab_attendance_log where att_end_time IS NULL
    </delete>

    <!--  public void wasteRemoval();-->
    <delete id="wasteRemoval">
        delete from selab_attendance_log where att_user not in (select user_name FROM sys_user WHERE dept_id = '105')
    </delete>
</mapper>