<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tyut.selab.schedule.mapper.IMyScheduleMapper">

    <resultMap id="ScheduleResult" type="Schedule">
        <id     property="Id"          column="id"          />
        <result property="userId"      column="user_id"     />
        <result property="period"      column="period"      />
        <result property="week"        column="week"        />
        <result property="weekNo"      column="week_no"     />
        <result property="status"      column="status"      />
        <result property="courseTitle" column="course_title"/>
        <result property="createTime"  column="create_time" />
        <result property="updateTime"  column="update_time" />
    </resultMap>

    <sql id="selectScheduleVo">
        select id,user_id,period,week,week_no,status,course_title,create_time,update_time
        from selab_schedule_info
    </sql>
    
    <select id="selectScheduleList" parameterType="Schedule" resultMap="ScheduleResult">
        <include refid="selectScheduleVo"/>
        <where>
            <if test="userId != null and userId != ''">
                AND user_id like concat('%',#{userId},'%')
            </if>
        </where>
    </select>
</mapper>