.xj-rough-vote-node {
  --backgroundC: '#00000000';
  --backgroundCH: '#00000000';
  position: absolute;
  left: 50%;
  transform-origin: left center;
  transform: translateX(-50%);
  max-width: 1024px;
  width: 80%;
  height: 76px;
  border-radius: 30px;
  border: 2px solid;
  transition: all 0.6s;
  cursor: pointer;
  background-color: var(--backgroundC);
}
.xj-rough-vote-node.mobile {
  height: 156px;
}
.xj-rough-vote-node:hover {
  background-color: var(--backgroundCH);
}
.xj-rough-vote-node .xj-rough-vote-main {
  padding: 15px;
  height: 46px;
  transition: all 0.3s;
}
.xj-rough-vote-node .xj-rough-vote-main.mobile {
  height: 126px;
}
.xj-rough-vote-node .xj-rough-vote-main .xj-rough-vote-title {
  height: 21px;
  width: calc(80% - 26px - 150px);
  font-size: 16px;
  font-weight: 700;
  margin: 0 13px 6px 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.xj-rough-vote-node .xj-rough-vote-main .xj-rough-vote-title.mobile {
  margin: 10px 13px 6px 0;
  font-size: 20px;
}
.xj-rough-vote-node .xj-rough-vote-main .xj-rough-vote-content {
  font-size: 14px;
  height: 21px;
  width: calc(80% - 52px);
  line-height: 21px;
  margin: 0 13px;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.xj-rough-vote-node .xj-rough-vote-main .xj-rough-vote-content.mobile {
  display: -webkit-box;
  margin: 28px 0;
  height: 60px;
  width: calc(80% - 26px);
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.xj-rough-vote-node .xj-rough-vote-main .xj-rough-vote-firstText {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  right: 20px;
  color: #000000b2;
}
.xj-rough-vote-node .xj-rough-vote-main .xj-rough-vote-userName {
  font-size: 13px;
  font-weight: 600;
  position: absolute;
  top: 24px;
  right: 20px;
}
.xj-rough-vote-node .xj-rough-vote-main .xj-rough-vote-userName.mobile {
  top: 30px;
}
