@import "../../assets/iconfont.css";
.xj-details-vote-node {
  border-radius: 30px;
  height: 60vh;
  width: 100%;
  position: absolute;
  top: calc(100% + 10px);
  overflow: hidden;
  box-shadow: 0 0 10px #00000000 inset;
  background-color: #00000008;
  transition: all 0.6s;
  box-sizing: content-box;
  opacity: 0;

  .xj-details-vote-title {
    width: calc(90% - 20px);
    position: absolute;
    box-shadow: 0 0 10px #00000000;
    background-color: #f7f7f7;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2% calc(3% + 20px) 2% 7%;
    transition-duration: .45s, .15s, .15s;
    transition-property: left, box-shadow, background-color;
    left: 0;
    font-size: 16px;
    font-weight: 700;
    word-break: break-word;
    z-index: 200;

    .xj-details-vote-rules {
      position: relative;
      width: 100%;
      height: 28px;
      line-height: 28px;
      font-size: 12px;
      font-weight: lighter;

      .xj-details-vote-remainder {
        position: absolute;
        height: 28px;
        left: 0;
        padding: 0 10px;
      }

      .xj-details-vote-weights {
        transition: all 0.15s, opacity 0s, color .2s;
        position: absolute;
        height: 28px;
        right: 0;
        padding: 0 10px;
        border-radius: 8px;
        color: #409eff;
        cursor: pointer;
      }

      .xj-details-vote-weights:hover {
        color: #66b1ff;
        background-color: #00000011;
      }
    }

    .xj-details-vote-close {
      position: absolute;
      width: 20px;
      height: 20px;
      font-size: 12px;
      right: 2%;
      top: 18%;
      border-radius: 10px;
      transition: all 0.15s;
      cursor: pointer;
      background-color: #d5322f;
      color: #ffffff00;
      text-align: center;
      line-height: 20px;
      transform: scale(80%);

      &:hover {
        color: #ffffff;
      }
    }
  }

  .xj-details-vote-main {
    position: relative;
    top: 4%;
    left: 0;
    width: 94%;
    padding: 1%;
    margin: auto;
    transition: left .45s ease;

    .xj-details-vote-options {
      --isCompleteBG: #ffffff;
      --isCompleteBC: #6ce2fc;
      --beforeContent: '';
      --beforeBC: rgba(108, 226, 252, 0.16);
      --beforeWidth: 0;
      --afterContent: '111';
      --afterColor: #00000077;
      margin: 0 10%;

      .xj-details-vote-option {
        position: relative;
        cursor: pointer;
        height: 28px;
        line-height: 28px;
        margin-top: 3%;
        background-color: #00000005;
        transition: all 0.15s;
        border-radius: 3px;
        border: 1px solid #00000022;

        & p {
          margin: 0;
          padding: 0 16px;
        }

        &:hover {
          background-color: var(--isCompleteBG);
          border-color: var(--isCompleteBC);
        }

        &::before {
          content: var(--beforeContent);
          position: absolute;
          transition: all 0.15s;
          top: 0;
          left: 0;
          width: var(--beforeWidth);
          height: 28px;
          background-color: var(--beforeBC);
          z-index: -1;
        }

        &:hover::before {
          background-color: rgba(108, 226, 252, 0.5);
        }

        &::after {
          transition: all 0.15s;
          content: attr(data-afterContent);
          position: absolute;
          top: 0;
          right: -1%;
          transform: translateX(100%);
          line-height: 28px;
          color: var(--afterColor);
        }

        &:hover::after {
          color: #000000;
        }
      }
    }
  }

  .xj-details-vote-weightDom {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f7f7f7;
    transition: all 0.45s;
    height: 100%;
    width: 100%;
    z-index: 201;

    .xj-details-vote-weightTop {
      width: 100%;
      height: 36px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #f7f7f7b2;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      text-align: center;
      line-height: 36px;
      font-size: 12px;

      & p {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        z-index: -1;
      }

      .xj-details-vote-weightCloseButton {
        margin: 4px 10px;
        transition: all 0.15s;
        position: absolute;
        height: 28px;
        left: 0;
        top: 0;
        line-height: 28px;
        padding: 0 10px;
        border-radius: 8px;
        color: #409eff;
        cursor: pointer;

        &:hover {
          color: #66b1ff;
          background-color: #00000011;
        }
      }
    }

    .xj-details-vote-weightList {
      display: flex;
      flex-flow: wrap;
      align-content:  flex-start;
      position: absolute;
      top: 36px;
      left: 0;
      width: 100%;
      // height: 100%;
      background-color: #f7f7f7b2;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      cursor: move;
      z-index: -1;


      // 禁止文字被鼠标选中
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .xj-details-vote-weightElement {
        position: relative;
        margin: 2% 0 0 4%;
        // width: 80%;
        white-space: nowrap;
        height: 28px;
        padding: 0 3%;
        line-height: 28px;
        text-align: center;
        border-radius: 15px;
        box-shadow: 0 0 3px #00000022 inset;
        // box-sizing: content-box;
      }
    }
  }
}
